extends ../template

block varibles
    - var title = "Affiliate program"

block content
   
    .content

        section.sect1
            .wrapper
                .sect1__content
                    .sect1__left
                        .sect1__title
                            h1.title.title_white Партнерская программа
                        .sect1__desc
                            p IEXchange – открытое сообщество для легальной торговли криптовалютами с высоким уровнем безопасности.
                            p Присоединяйся к партнерской программе IEXchange на выгодных условиях. 
                        .sect1__button.btn_top
                            button.button.btn  стать партнером
                    .sect1__right
                        .sect1__img
                            img(src="./images/sect1_2.png", alt="")
                            img(src="./images/sect1_2_m.png", alt="")

                .sect1__button.btn_bottom
                    button.button.btn   стать партнером

            .img1
                img(src="./images/sect1.png", alt="") 
                img(src="./images/sect1_leftbg.png", alt="")
            .img2
                img(src="./images/2.png", alt="")
                img(src="./images/sect1_rightbg.png", alt="")
            .img3
                img(src="./images/sect1_circlebg_l.png", alt="")
            .img4
                img(src="./images/sect1_circlebg_r.png", alt="")
                


        section.sect2
            .wrapper
                .sect2__content
                    .sect2__top
                        .sect2__title
                            h2.title Что мы предлагаем?
                        .sect2__desc
                            p Мы делимся частью комиссии за транзакции от привлеченных вами пользователей. В зависимости от статуса партнера, мы отдаем до 40% от полученной комиссии.

 
                    .sect2__bottom
                        div.statistic
                            .sect2__block.sect2__block_left
                                .sect2__blockcontent
                                    .sect2__img.sect2__img_left
                                        img(src="./images/info1.png", alt="")
                                    .sect2__text
                                        p  25% от комиссий со сделок привлеченных вами пользователей - для обычных участников 
                                            b
                                                | партнерской программы.
                                    .sect2__button.btn_left
                                        button.button.btn   стать партнером

                            .sect2__block.sect2__block_right
                                .sect2__img
                                    img(src="./images/info2.png", alt="")
                                .sect2__text
                                    p  Действуют специальные условия для новых партнеров. 
                                    p До 30.04 каждый участник партнерской программы получает статус 
                                        b Премиум партнера.

                        
                                .sect2__button.btn_right
                                    button.button.btn   стать партнером

                        p.ital_text
                            i *Обязательно ознакомьтесь с   
                                a(href="#") (правилами).

                        .sect2__button.btn_cntr
                            button.button.btn   стать партнером
 
                        
 

        section.sect3
            .wrapper
                .sect3__content
                    .sect3__title
                        h2.title Как партнеру зарабатвать с IEXchange? 
                    .sect3__blocks
                        img(src="./images/1-4.png", alt="")
                        img(src="./images/1-4_m.png", alt="")
                        .sect3__blockitem.sect3__blockitem_first
                            span Зарегистрируйся<br> и получи статус<br> Премиум партнера
                        .sect3__blockitem.sect3__blockitem_second
                            span Получи реферальную <br>ссылку
                        .sect3__blockitem.sect3__blockitem_third
                            span Приглашай друзей
                        .sect3__blockitem.sect3__blockitem_fourth
                            span Получай партнерское<br> вознаграждение 


        section.sect4
            .wrapper
                .sect4__content
                    .sect4__title
                        h2.title Почему стоит работать с нами?
                    .sect4__blocks
                        .sect4__blockitem
                            .sect4__img.sect4__img_1
                                img(src="./images/icn1.png", alt="")
                            .sect4__desc
                                span Простая регистрация за 5 минут
                        .sect4__blockitem
                            .sect4__img.sect4__img_2
                                img(src="./images/icn2.png", alt="")
                            .sect4__desc
                                span Привлекать пользователей в наш проект просто!
                        .sect4__blockitem
                            .sect4__img.sect4__img_3
                                img(src="./images/icn3.png", alt="")
                            .sect4__desc
                                span Премиум статус для новых партнерови 
                        .sect4__blockitem
                            .sect4__img.sect4__img_4
                                img(src="./images/icn4.png", alt="")
                            .sect4__desc
                                span «Ликвидность от OKEx»
                        .sect4__blockitem
                            .sect4__img.sect4__img_5
                                img(src="./images/icn5.png", alt="")
                            .sect4__desc
                                span Без ограничений по сумме выплат
                        .sect4__blockitem
                            .sect4__img.sect4__img_6
                                img(src="./images/icn6.png", alt="")
                            .sect4__desc
                                span Удобный личный кабинет для партнеров
                        .sect4__blockitem
                            .sect4__img.sect4__img_7
                                img(src="./images/icn7.png", alt="")
                            .sect4__desc
                                span Рекламные материалы по вашему запросу
                        .sect4__blockitem
                            .sect4__img.sect4__img_8
                                img(src="./images/icn8.png", alt="")
                            .sect4__desc
                                span Личный менеджер


        section.sect5
            .wrapper
                .sect5__content

                    .sect5__title
                        h2.title Посмотри наши видео
                    iframe(src="https://www.youtube.com/embed/uWEuDrTa52E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        

        section.sect6
            .wrapper
                .sect6__content
                    .sect6__title
                        h2.title Успей стать одиним из первых!
                    .sect6__blockblocks#counter
                        
                        .sect6__blockitem
                            img(src="./images/count_1.png", alt="")
                            div(data-num="1100" class="number") 0
                            .sect6__desc
                                span ПАРТНЕРОВ
                        .sect6__blockitem
                            img(src="./images/count_1.png", alt="")
                            div(data-num="1200" class="number") 0
                            .sect6__desc
                                span Привлечено трейдеров
                        .sect6__blockitem
                            img(src="./images/count_1.png", alt="")
                            div(data-num="1300" class="number") 0
                            .sect6__desc  
                                span USDT выплачено

                    //- .sect6__blockblocks
                        
                    //-     //- .sect6__blockitem.counters
                    //-     //-     img(src="./images/count.png", alt="")
                    //-     //-     div(class="counter number" aria-label="058") 058
                    //-     //-     .sect6__desc
                    //-     //-         span ПАРТНЕРОВ
                    //-     //- .sect6__blockitem
                    //-     //-     img(src="./images/count.png", alt="")
                    //-     //-     div(data-num="456" class="number") 0
                    //-     //-     .sect6__desc
                    //-     //-         span ТРЕЙДЕРОВ
                    //-     //- .sect6__blockitem
                    //-     //-     img(src="./images/count.png", alt="")
                    //-     //-     div(data-num="342" class="number") 0
                    //-     //-     .sect6__desc  
                    //-     //-         span ВЫПЛАЧЕНО
            

                    .sect6__button
                        button.button.btn  стать партнером


                    //- .counters
                    //-     h3(class="counter number" aria-label="058") 058

                    
                        



                    



                    
                 
        include ../common/popaps.pug      
