.sect1{
    padding: rem(63) 0 rem(41) 0;
    position: relative;
    z-index: 1000;
    // background: url(../images/bg1_1.png);
    // background-color: red; #041637; #092350
    background: linear-gradient(to right, #041637, #092350);

    .img1{
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 900;
        img{
            width: rem(136);
            height: rem(427);
            &:last-child{
                display: none;
            }
        }
    }

    .img2{
        position: absolute;
        top: rem(90);
        z-index: 800;
        img{
            width: 100%;
            height: rem(1436);
            &:last-child{
                display: none;
            }
            // &:first-child{
            //     display: none;
            // }
        }
    }

    .img3, .img4{
        display: none;
    }

    &__content{
        display: flex;
        position: relative;
        z-index: 1000;
        margin-bottom: rem(20);
    }

    &__left{
        padding-top: rem(116);
        width: 50%;
    }

    &__title{
        margin-bottom: rem(24);
    }

    &__desc{
        margin-bottom: rem(43);
        span{
            color: $white;
            font-size: rem(18);
            font-weight: 400;
        }
    }

    &__right{
        width: 50%;
    }

    &__img{
        display: flex;
        justify-content: flex-end;
        img{
            width: rem(501);
            height: rem(323);
            &:last-child{
                display: none;
            }
        }
    }

    &__button{
        text-align: center;
        position: relative;
        z-index: 100000;
        &.btn_top{
            display: none;
        }
    }
}


@media screen and (max-width:769px){
    .sect1{
        padding: 33px 0 56px 0;
        background-color: #06193d;

        &__content{
            flex-direction: column;
        }

        &__left{
            padding: 0;
            width: 100%;
            margin-bottom: 35px;
        }

        &__right{
            width: 100%;
        }

        &__title{
            margin-bottom: 13px;
        }

        &__desc{
            text-align: center;
            margin-bottom: 32px;
            p{
                font-size: 14px;
                letter-spacing: 0.04px;
            }
        }

        &__button{
            text-align: center;
            &.btn_top{
                display: block;
            }
            &.btn_bottom{
                display: none;
            }
        }

        &__img{
            display: flex;
            justify-content: center;
            img{
                width: auto;
                height: auto;
                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }

        .img1{
            left: 0;
            top: inherit;
            bottom: 0;
            img{
                display: none;
                width: auto;
                height: auto;
                &:last-child{
                    display: block;
                }
            }
        }

        .img2{
            right: 0;
            top: 35px;
            img{
                display: none;
                width: auto;
                height: auto;
                &:last-child{
                    display: block;
                }
            }
        }

        .img3{
            display: block;
            position: absolute;
            left: 0;
            top: 206px;
        }

        .img4{
            display: block;
            position: absolute;
            right: 0;
            top: 437px;
        }
    }
}