.title{
    font-size: rem(42);
    font-weight: 500;
    color: #000000;
    line-height: rem(41.67);
    &_white{
        color: $white;
    }
}


@media screen and (max-width:769px) {
    .title{
        font-size: 23px;
        text-align: center;
        
    }
}