.modalDialogCustom
    .shadow_popap

    .contentpopap 

        form.contentpopap__form
            
            .contentpopap__inputblock
                label Имя
                input(type="text" required)
                label E-mail
                input(type="email" required)
                    
                    
            .contentpopap__button
                button.button(type="submit") Отправить
    
        .contentpopap__img1   
            img(src="./images/Ellipse_l.png", alt="")
        .contentpopap__img2 
            img(src="./images/Ellipse_r.png", alt="")
        
        .contentpopap__close
            img(src="./images/close.png", alt="")



